<div class="container-home">
  <div class="background-image"></div>
  <div class="home-title">
    <h1>Les meilleures voitures au meilleur prix</h1>
  </div>
<div class="search-bar">
  <%= simple_form_for @car, method: :get, url: search_path, html: { class: 'car-search-form' } do |f| %>
  <%= f.input :brand,
              collection: Car.distinct.pluck(:brand),
              prompt: "Toutes les marques" %>

  <%= f.input :car_type,
              collection: Car.distinct.pluck(:car_type),
              prompt: "Tous les types" %>

  <%= f.input :motorization,
              collection: Car.distinct.pluck(:motorization),
              prompt: "Toutes les motorisations" %>

  <%= f.button :submit, "Rechercher" %>
<% end %>
</div>
</div>
