<div class="container-profil">
  <h1>Mon Profil</h1>
  <div class="profil-info">
    <h2><%= current_user.username %></h2>
    <p>Email: <%= current_user.email %></p>
    <%= link_to "Modifier", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <h2>My cars rents</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Car</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <%# cars current user %>
      <% @cars.each do |car| %>
  <tr>
    <td>
      <%= link_to car_path(car) do %>
        <%= car.brand %> <%= car.name %>
      <% end %>
    </td>
    <td><%= car.start_date.strftime("%d/%m/%Y %H:%M") if car.start_date.present? %></td>
    <td><%= car.end_date.strftime("%d/%m/%Y %H:%M") if car.end_date.present? %></td>
    <td><%= number_to_currency(car.price, unit: "€", separator: ",", delimiter: " ") %></td>
    <td>
      <% if car.rents.any? %>
        <% if car.rents[0].payment %>
          Payé
          <% else %>
          En ligne
        <% end %>
      <% else %>
        En ligne
      <% end %>
    </td>
  </tr>
<% end %>
  </table>
</div>
