<div class="container-profil">
  <h1>Mon Profil</h1>
  <div class="profil-info">
    <h2><%= current_user.username %></h2>
    <p>Email: <%= current_user.email %></p>
    <%= link_to "Modifier", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <h2>My cars rents</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Car</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <%# cars current user %>
      <% @rents.each do |rent| %>
  <tr>
    <td>
      <%= link_to car_path(rent.car) do %>
        <%= rent.car.brand %> <%= rent.car.name %>
      <% end %>
    </td>
    <td><%= rent.car.start_date.strftime("%d/%m/%Y %H:%M") if rent.car.start_date.present? %></td>
    <td><%= rent.car.end_date.strftime("%d/%m/%Y %H:%M") if rent.car.end_date.present? %></td>
    <td><%= number_to_currency(rent.car.price, unit: "€", separator: ",", delimiter: " ") %></td>
    <td>
      <% if rent.payment %>
        Payé
      <% else %>
        En ligne
      <% end %>
    </td>
  </tr>
<% end %>
  </table>
</div>
