
<div class="container-car-details">
  <div class="car-details-container-top">
    <div class="car-image">
      <%= image_tag @car.img_url, class: "car-img" %>
    </div>
    <div class="car-details">
      <h1 class="car-title"><%= @car.brand %> <%= @car.name %></h1>
      <p class="car-price"><%= number_to_currency(@car.price, unit: "€", separator: ",", delimiter: " ") %> / jour</p>
      <p class="car-type"><strong>Type:</strong> <%= @car.car_type %></p>
      <p class="car-motorization"><strong>Motorisation:</strong> <%= @car.motorization %></p>
      <p class="car-description"><%= @car.detail %></p>
      <p class="car-dispo"><%= @car.start_date.strftime("%d/%m/%Y %H:%M") %></p>
      <p class="car-retour"><%= @car.end_date.strftime("%d/%m/%Y %H:%M") %></p>
      <button>resever</button>
      <%# <%= link_to 'Réserver', new_reservation_path(car_id: @car.id), class: "btn-reserve" %>
      </div>
      <div class="car-mapbox">
    </div>
  </div>

</div>
