<h1><%= @car.brand %></h1>

<div class="car-details">
  <img src="<%= @car.img_url %>" alt="<%= @car.name %>">
  <p><strong>Prix:</strong> <%= number_to_currency(@car.price, unit: "€", separator: ",", delimiter: " ") %></p>
  <p><strong>Type:</strong> <%= @car.car_type %></p>
  <p><strong>Motorisation:</strong> <%= @car.motorization %></p>
  <p><strong>Détails:</strong> <%= @car.detail %></p>
</div>
